# 수식을 계산하고 정보를 기억하기

## 수식 계산

### 수식 나타내기

In [6]:
200 - 1

199

In [7]:
200  * 1

200

In [9]:
200 + 3

203

In [10]:
200/2

100.0

### 연산자

In [8]:
2 ** 3

8

In [9]:
3 // 2

1

In [10]:
5 % 2

1

### 연산순서

In [11]:
1 + 2 * 3

7

In [12]:
(1 + 2) * 3

9

### 등식과 부등식

In [13]:
1 == 2

False

### 함수를 이용한 계산

In [14]:
abs(-3)

3

In [15]:
round(3.123)

3

In [16]:
round(3.123, 1)

3.1

In [18]:
round(312.123, -2)

300.0

In [20]:
import math
math.sqrt(4)

2.0

In [21]:
math.sqrt(5)

2.23606797749979

#### 현실의 문제는 수식으로 제공되지 않는다

방 A는 가로 2.5m 세로 3m이고 월세 27만원이다
방 B는 가로 4m 세로 3m이고 월세 30만원이다
어느 방이 가격 대비 더 넓은가?

In [22]:
(2.5 * 3 / 27) < (4 * 3 / 30)

True

# 변수와 이름

## 변수에 값을 대입하고 읽기

### 대입문

In [24]:
x = 10
a,b,c = 1, 2, 3

1

### 변수에 대입된 값 읽기

In [25]:
a

1

## 변수에 대입된 값 바꾸기

### 변수에 새로운 값 대입하기

In [26]:
# x = 10
x  = 2
x

2

### 변수의 값 수정하기

In [6]:
x = 3
x

3

### 수정 대입 연산자로 변수의 값 수정하기

In [ ]:
x += 3
x = x + 3
# +=, -=, *

## 변수는 이름이다

### 이름으로 데이터의 의미를 나타내기

In [ ]:
apple = 500

### 이름 삭제하기

In [28]:
x = 10
del x
x

NameError: name 'x' is not defined

## 데이터 기억하기

### 중간 계산값 기억하기

In [ ]:
kcal = 0

kcal_1  = 100
kcal_2 = 200

### 중간 계산값 누적하기

In [30]:
kcal = 0

kcal += 300
kcal += 100
kcal

400

### 사용자가 입력한 수 계산하기

In [ ]:
input()

num = input()

In [ ]:
num = inputnu
int(num)

#### 사용자에게 오늘 하루 동안 먹은 빵의 개수를 받고 섭취한 빵의 총 칼로리를 계산하는 코드를 작성하자 (빵의 칼로리는 200이다)

In [4]:
num = int(input())
print(200 * num, 'kacl')

3
600 kacl

## 연습문제

### 사용자로부터 두 개의 정수를 입력받아 덧셈과 곱셈의 결과를 출력하는 프로그램을 작성하라

In [8]:
num1 = int(input())
num2 = int(input())
print('sum:', num1 + num2)
print('mul:',num1 * num2)

3
4
sum: 7
mul: 12