# 컬렉션으로 데이터를 모으고 정돈하기

## 시퀸스

### 순서가 있는 데이터 구조

요소에 번호를 부하고 순서대로 관리하는 데이터 구조

## 리스트

다양한 데이터를 담을 수 있고 내용을 변경할 수 있는 시퀸스

### 리스트 사용하기

In [20]:
[]
a = []
[1, 2, 3]

[1, 2, 3]

### 길이 세기

In [22]:
num = [1, 2, 3, 4, 5]
len(num)

5

### 연결과 반복

In [24]:
num + num

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [26]:
a = num * 2
a

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### 리스트의 요소

In [30]:
num[0]
num [-1]

5

In [31]:
num[0] = 10
num

[10, 2, 3, 4, 5]

### 슬라이싱

리스트에 있는 요소들을 범위를 정하여 선택하는 것

In [7]:
# 리스트_이름[시작_위치:종료_위치(미만)]

In [38]:
num = [1, 2, 3, 4, 5]
num
num[0:2]
num[:3]
num[3:]
num[:]

[1, 2, 3, 4, 5]

In [ ]:
# 리스트_이름[시작_위치:종료_위치(미만):간격]

In [39]:
num

[1, 2, 3, 4, 5]

In [40]:
num[::2]

[1, 3, 5]

In [41]:
num[::-1]

[5, 4, 3, 2, 1]

### 시퀸스 복제

슬라이싱 연산으로 구한 시퀸스는 원본 시퀸스가 아니다.     
복제된 사본이므로 시퀸스로 값을 변경해도 원본에 영향을 끼치지 않는다.

In [47]:
num
copy = num[:]
copy

[1, 2, 3, 4, 5]

In [50]:
copy[0] = 10
copy
num

[1, 2, 3, 4, 5]

In [54]:
copy == num
copy[0] = 10
copy == num

True

### 통계 함수

In [56]:
num = [1, 2, 3, 4, 5]

In [57]:
sum(num)

15

In [58]:
min(num)

1

In [59]:
max(num)

5

### 시퀸스 조작 메서드

In [60]:
num

[1, 2, 3, 4, 5]

In [62]:
num.append(100)
num

[1, 2, 3, 4, 5, 100, 100]

In [65]:
num = [1, 2, 3, 4, 5]
num.insert(3, 300)
num

[1, 2, 3, 300, 4, 5]

In [69]:
num = [1, 2, 3, 4, 5]
num2 = [10, 20 ,30 ]
num.extend(num2)
num

[1, 2, 3, 4, 5, 10, 20, 30]

In [71]:
num.pop()
num
num.pop()

10

In [78]:
num = [1, 2, 3, 4, 5]
num.remove(1)
num

[2, 3, 4, 5]

## 튜플

리스트와 비슷하지만 한번 담은 데이터를 바꿀 수 없다     

처음 정의할 때부터 담을 데이터가 결정되어 있어야 하고, 그 뒤에는 데이터를 추가할 수 없다

### 튜플 표현하기

In [81]:
()
a= (1, 2, 3)
a

(1, 2, 3)

In [86]:
len(a)
a[0]
a[::-1]
a[0] = 10

TypeError: 'tuple' object does not support item assignment

### 시퀸스 연산

In [ ]:
num = (1, 2, 3, 4, 5)
print(len(num)) # 5
print(num[0]) # 1
print(num[::-1)) # 5, 4, 3, 2, 1
print(num + (10, 20)) # 1, 2, 3, 4, 5, 10, 20 

num[0] = 0 # error 
num.remove(1) # error

## 레인지

등차수열을 시퀸스로 표현할 때 사용

### 레인지로 표현

In [90]:
a = list(range(10))
a
a = list(range(1, 10))
a
a= list(range(1, 10, 2))
a

[1, 3, 5, 7, 9]

In [94]:
a = list(range(0, 100, 2))
a[10]

range(0, 100, 2)[10:20:2]

range(20, 40, 4)

### 문자열은 시퀸스다

In [98]:
msg = 'hello'
list(msg)
msg[0] = 'a'

TypeError: 'str' object does not support item assignment

### join 메서드

문자열을 담은 시퀸스를 입력 받아, 문자열을 연결한다

In [100]:
''.join(['안녕', '하세요'])

'안녕하세요'

In [101]:
'.'.join(['안녕', '하세요'])

'안녕.하세요'

In [102]:
'/'.join(['안녕', '하세요'])

'안녕/하세요'

# 연습 문제

0 이상이고 100 미만 사이의 모든 8의 배수를 num 배열에 넣어라

In [105]:
num = list(range(0, 100, 8))
num

[0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96]

전달 받은 시퀸스의 최솟값과 최댓값을 리스트에 담아 반환하는 함수 minmax()를 정의하라

In [106]:
def minmax(num):
    minmax = []
    minmax.append(min(num))
    minmax.append(max(num))
    return minmax

list = [1, 2, 3, 4, 5]
minmax(list)

[1, 5]

# 매핑

데이터와 값 역할을 하는 데이터를 짝 지어 관리하는 방법

### 키와 데이터를 짝지은 구조

키: 저장된 데이터를 구별하고 가리키는 데 쓰이고    

값: 키와 연결되어 저장된 데이터가 저장된다     

데이터를 저장할 때 순서 정보보다 의미 있는 식별 방법이 필요할 때 매핑을 사용한다

### 사전 (dict)

파이썬 매핑 컬렉션 중 가장 대표적이고 활용도가 높은 컬렉션

In [ ]:
{
    'apple': 1000,
    'banana' : 2000
}

### 사전 표현하기

In [ ]:
{ 
    키1: 값1, 
    키2: 값2,
    키3: 값3
}
# 사전을 정의할 때 키가 중복되어 저장되면 안된다

# 연습해보기

아메리카노: 2500, 카페라떼:  3000, 딸기 주스: 3000인 메뉴판을 사전으로 나타내보자

In [107]:
menu = {
    '아메리카노': 2500, 
    '카페라떼': 3000,
    '딸기 주스': 3000
}

menu

{'아메리카노': 2500, '카페라떼': 3000, '딸기 주스': 3000}

### 키로 사용할 수 있는 데이터

In [ ]:
{
    (1, 2, 3): 3000,
    123: 300
}

### 키 검사하기

In [108]:
menu = {
    '아메리카노': 2500, 
    '카페라떼': 3000,
    '딸기 주스': 3000
}

'아메리카노' in menu

True

### 요소(키-값 쌍)

In [112]:
len(menu)
menu['아메리카노'] = 4000
menu

k for k, v in menu.items() if v == '3000'

menu2 = {v: k for k,v menu.items()}

{'아메리카노': 4000, '카페라떼': 3000, '딸기 주스': 3000}

### 다른 사전의 내용으로 덮어쓰기

In [115]:
menu.update({'토마토쥬스': 3000})
menu

{'아메리카노': 4000, '카페라떼': 3000, '딸기 주스': 3000, '토마토쥬스': 3000}

### 요소 삭제하기

In [119]:

menu.clear

## 시퀸스와 매핑을 서로 변환하기

키를 담은 시퀸스와 값을 담은시퀸스를 짝지어서 맵핑을 해보자

### 키 시퀸스와 값 시퀸스로 사전 정의하기

In [122]:
price = [1000, 2000]
dirnk =['아메리카노','카페라떼']

menu = dict(zip(dirnk, price))
menu

{'아메리카노': 1000, '카페라떼': 2000}

### 사전에서 키 시퀸스와 값 시퀸스 구하기

In [125]:
menu.keys()
menu.values()
menu.items()

dict_items([('아메리카노', 1000), ('카페라떼', 2000)])

## 집합

데이터를 모아둔 컬렉션이라는 점에서 다른 컬렉션과 비슷해보이지만 원소에 순서나 키를 붙여 관리하지 않는다

### 집합 표현 하기

In [128]:
{1, 2, 3}
{
    1: 1000,
    2: 2000
}

set()
{}

set()

### 시퀸스를 집합으로 변환하기

In [129]:
a = [1, 1, 1, 2, 3, 4, 5, 6]
set(a)

{1, 2, 3, 4, 5, 6}

### 집합 연산

In [130]:
num1 = {1, 2, 3, 10}
num2 = {10, 20, 30, 40 }

num1 - num2

{1, 2, 3}

### 원소 변경하기

In [ ]:
# add()
# discard()
# remove() - 제거할 원소가 없으면 오류 
# pop() - 아무 원소나 꺼냄 
# clear()